doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Quiniela Mamalona
    body
        div
            ul
                li Inicio
                li Usuario
                li Inicia Sesion

    block contenido